<!DOCTYPE html>
<html lang="en">

<head>
  <title>FootballBetting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>

<body>

  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1><b>Bet n' Sweat</b></h1>
    <p>Make your move!</p>
    <div class="navBar">
      <a href="./home.html">Home</a> |<a href="./login.html"> Log In</a> |<a href="./view.html"> Bet Here</a>
      | <a href="/index">Deposit Cash</a>
    </div>

  </div>


  <style>
    .navBar {
      height: auto;
      width: auto;
      float: right;
      font-size: 20px;
      margin-right: 10px;
      margin-top: 20px;
      font-family: cursive;
    }

    .jumbotron {
      background-color: rgba(0, 0, 0, 0.13);
    }
  </style>

<script 
src="//checkout.stripe.com/v2/checkout.js"
class="stripe-button"
data-key="<%= keyPublishable %>"
data-locale="auto"
data-description="Sample Charge"
data-amount="500">

</script>

  <div class="deposit">
    <form action="/charge" method="POST">
        <article>
            <label> Amount: $5.00</label>
        </article>
        <!-- <script 
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%= keyPublishable %>"
        data-locale="auto"
        data-description="Sample Charge"
        data-amount="500">
        
        </script> -->
        
    </form>
  </div>








</body>

</html>

